<!doctype html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, intial-scale=1">
<title>Custom Coding</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/style.css">

</head>

<body>
    <header>
        <h2 href="#">Auth-Project</h2>
        <nav>
            <li><a href="/">Main</a> </li>
            <li><a href="/auth/user/login">Login</a> </li>
            <li><a href="/auth/user/signup">Signup</a> </li>
            <li><a href="/auth/forgot-password">Forgot Password</a> </li>
            <li><a href="/auth/secret">Protected Route</a> </li>


        </nav>
    </header>

    <section class="hero">
        <div class="background-image"
            style="background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_139824.jpg)"></div>
        <div class="hero-content-area">
            <h1>Sign Up</h1>
            <div class="login-div">
                <input type="email" placeholder="Email" name="email" id="email">
                <input type="password" placeholder="Password" name="password" id="password">
                <input type="password" placeholder="Type your password again" name="passwordConf">
    

                <button onclick="postIt()">Submit</button>

                <a href="/auth/login-google">Continue With Google</a>
            </div>
            <div class="col-md-6 form-dets">
                
            </div>

            <div class="col-md-6 form-btns">
            </div>
        </div>

    </section>

    <footer>
        <ul>
            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
            <li><a href="#"><i class="fa fa-github-square"></i></a></li>
        </ul>
    </footer>

</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    const postIt = () => {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;


        axios.post('/auth/user/signup', {
            email: email,
            password: password
        })
            .then(function (response) {
                console.log(response);
                window.location.href = "/auth/user/login"
            })
            .catch(function (error) {
                alert(error.response.data.message)
                console.log(error);
            });
    }
</script>