.headline{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 2rem;
    font-family: monospace;
    font-weight: 700;
    padding: 1rem;
}

.cross{
    height: fit-content;
    margin: auto 0;
    font-family: cursive;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.75rem;
}

.headings{
    text-align: center;
}

.headings h1{
    font-size: 3.5rem;
    font-weight: 600;
}

.headings h5{
    font-weight: 400;
}

.headings a{
    text-decoration: none;
}

.signup-form{
    margin-top: 3rem;

}

.form-dets{
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    padding: 1.5rem;
}

.form-dets input{
    width: 70%;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    margin: 1rem auto;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.form-dets input:hover{
    border-bottom: 1px solid black;
}

