/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
General Configurations
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

ul,
nav {
  list-style: none;
}

/*nav-bar style*/
nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  margin: 0 15px;
  color: white;
  cursor: pointer;
}

a:hover {
  opacity: 1;
}

a.btn {
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #3f51b5;
  opacity: 1;
  margin-top: 10px;
  color: white;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px;
}

/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Header Configurations
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px 100px 0;
  -webkit-animation: 1s fadein 0.5s forwards;
  animation: 1s fadein 0.5s forwards;
  opacity: 1;
  color: white;
}
header h2 {
  font-family: "Quicksand, sans-serif";
  color: white;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
  color: white;
}

@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}

@media (max-width: 700px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }
}

/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Cover and Image Animation configuration
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.hero {
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #80a3db;
  -webkit-animation: 15s change 1s forwards;
  animation: 15s change 1s forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.hero h1 {
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 40px;
  color: white;
}

.hero h3 {
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
  color: white;
}

.hero a.btn {
  padding: 20px 46px;
}

.hero-content-area {
  opacity: 1;
  margin-top: 100px;
  -webkit-animation: 1s slidefade 1s forwards;
  animation: 1s slidefade 1s forwards;
}

.grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

hr {
  width: 100%;
  height: 2px;
  background-color: #3f51b5;
  border: 0;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .hero {
    min-height: 600px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero h3 {
    font-size: 24px;
  }

  .hero a.btn {
    padding: 15px 40px;
  }
}

/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1
Section Configurations
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
section h3.title {
  text-transform: capitalize;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

.destinations .grid li {
  height: 350px;
  padding: 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.destinations .grid li.small {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.destnations .grid li.large {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}

/*---------------------
 	Contact Section
---------------------*/

.contact {
  background-color: #f7f7f7;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  max-width: 800px;
  width: 80%;
}

.contact form input {
  padding: 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 30px;
  font-size: 18px;
  color: #555;
}

.contact form .btn {
  padding: 18px 42px;
}

@media (max-width: 800px) {
  .contact form input {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0 0 20px 0;
  }
}

/*-------------
 	Footer
-------------*/

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 60px 0;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  font-size: 32px;
}

footer ul li {
  margin: 0 8px;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li:last-child {
  margin-right: 0;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

footer p a {
  color: #fff;
}

@media (max-width: 700px) {
  footer {
    padding: 80px 15px;
  }
}

.destinations ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  border: 2px solid #3f51b5;
  border-radius: 10px;
  margin-bottom: 30px;
}

.destinations ul li {
  margin: 10px;
  padding: 15px 25px;
  border: 1px solid #3f51b5;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.destinations ul li:hover {
  background-color: #3f51b5;
  color: white;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  margin: 10px auto;
}

button:hover {
  background-color: #0056b3;
}

a {
  margin-top: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

#some {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-div {
  display: flex;
  flex-direction: column;
}


